# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*


# IPython
profile_default/
ipython_config.py

.venv/*
.env

# This is a directory for tools that are used in the project, but are not tracked because it is specific to my device and should not be shared.
# README.md has directions for these tools.
tools/